/*EX.2*/

@media (max-width: 767px) {
body{
    background:lightblue;
    transition:1s;
    }
}
@media (max-width: 480px) {
body{
    background:red;
    transition:1s;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
body{
    background:lightgreen; 
    transition:1s;}
}
@media (min-width: 980px) {
body{
    background:yellow; 
    transition:1s;}
}
@media (min-width: 1200px) {
body{
    background:orange; 
    transition:1s;}
}






    
    

