/*ts*/
/*

@media (max-width: 767px) {
body{
    background:lightblue;
    transition:1s;
    }
}
@media (max-width: 480px) {
body{
    background:blue;
    transition:1s;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
body{
    background:lightgreen; 
    transition:1s;}
}
@media (min-width: 980px) {
body{
    background:orange; 
    transition:1s;}
}
@media (min-width: 1200px) {
body{
    background:brown; 
    transition:1s;}
}
*/


/*EX.2*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
  box-sizing: border-box;
  font-family: lato;  
}

.row::after {
content: "";
clear: both;
display: block;
}
[class*="col-"] {
float: left;
padding: 15px;
}


.header{
background-color: Gold ;
color: #000;
padding: 15px;
}
.footer {
background-color: Gold ;
color: MidnightBlue ;
text-align: center;
font-size: 12px;
padding: 15px;
}
.menu{
background-color: #eee ;
}
.menu li {
padding: 8px;
margin-bottom: 7px;
background-color :Orange ;
color: #ffffff;
}
.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.menu li:hover {
background-color: #0099cc;
}
.aside {
background-color: Tan ;
padding: 15px;
color: #ffffff;
text-align: center;
font-size: 14px;
}
* {
font-family: lato;
}
/*
@media screen and (max-width: 767px) {
[class^="col-"] {
 width: 100%;
}
*/
@media (max-width: 767px) {
body{
    background:wheat;
    transition:1s;
    }
    
.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}
}
@media (max-width: 480px) {
body{
    background:khaki;
    transition:1s;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
body{
    background:gainsboro;
    transition:1s;
    }
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
}
@media (min-width: 980px) {
body{
    background:lavender;
    transition:1s;
    }
}
@media (min-width: 1200px) {
body{
    background:lightsteelblue;
    transition:1s;
    }
}





    
    

